body{
    margin: 0%;
    padding: 0%;
}

.navigation_bar{
    position: sticky;
    float: left;
    background-color: grey;
    margin: 0%;
    padding: 10px;
}

.navigation_bar .logo{
    float: left;
}

.navigation_bar .logo img{
}

.navigation_bar .logo h3{
    margin: 0%;
}

.navigation_bar .nav_list{
    float: right;
    padding: 0%;
    margin: 0%;
}

.navigation_bar .nav_list ul{
    float: left;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.navigation_bar ul li{
    float: right;
    margin: 0%;
    padding: 0%;
}

.navigation_bar ul li:hover{
    float: left;
    color: white;
    background-color: black
}

.main_content{
    margin: 0px;
    padding: 0px;
    background-color: blue;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: grey;
}

.footer h3{
    padding: 0%;
    margin: 0%;
}